/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.layout-main {
  width: 100%;
  margin: 0 auto;
  .wrap {
    width: 1320px;
    margin: 0 auto;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mg-8 {
  margin: 8px;
}